body {
    background-image: url("img/sakura.jpg");
    background-size: cover;
    background-repeat: no-repeat;

}

.backdrop {
    text-align: center;
    background-color: white;
    opacity: 80%;
    border: 5px salmon;

    border-radius: 50px;


    padding: 19.5vw 12vw;
    margin: 1vw 1vw;
    /*adjust margins and padding maybe later*/
}

/****************/
.float-box {
    height: 100%;
    background-color: pink;
    display: flex;
}

.todo-box {
    background-color: blue;
    width: 40%;
    height: 500px;
    margin: 10px;
}

.bunny-buddy {
    width: 40%;
    background-color: blue;
    height: 500px;
    float: right;
    margin: 10px;
}

/****************/
.tab {
    overflow: hidden;
    border: 1px solid black;
    background-color: gray;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

.tab button:hover {
    background-color: purple;
}
